/*body { 
    font-family: Arial, sans-serif; /* Fuente para toda las páginas */
    /*display: flex;*/
    /*justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}*/

/* Fondo animado */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb, #a6c1ee, #fbc2eb, #ff9a9e);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Georgia, sans-serif;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Estilos del menú; el numeral (#) se utiliza para seleccionar elementos por su atributo id. En HTML,
#menu {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}*/ 

#menu h1 {
    margin-bottom: 20px;
    color: #333;
}

#UserplayerName {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton:hover {
    background-color: #45a049;
}

#highScores {
    margin-top: 10px;
}

#highScores h2 {
    margin-bottom: 10px;
    color: #333;
}

#highScoresList { /*Lista de puntución al inicio*/
    list-style-type: none;
    padding: 0;
}

#highScoresList li {
    background: rgba(255, 255, 255, 0.9);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  
#menu, #game {
    text-align: center;
}

#game { /* Lo que hace cambiar de vista una vez iniciado */
    display: none;
}

.button {
    width: 150px;
    height: 150px;

    border-radius: 5px ;
    border: solid #000;
    cursor: pointer;
    display: inline-block;
}

.buttonContainer {
    display: inline-grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}

.button.active{
    filter: brightness(125%);
    opacity: 0.7;
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.yellow { background-color: yellow; }

#score {
    margin-top: 20px;
    font-size: 24px;
}

@media (max-width: 600px) { /* Esto es para aplicar estilo de las vistas dependiendo de las vitas(ancho, altura, etc) de las vistas*/ 
    .button {
        width: 80px;
        height: 80px;
    }
}

#vista {
    margin-bottom: 50px;
}

#score {
    margin-top:  50px;
}